#botao{
    background-color: rgb(158, 172, 219);
}
#digite{
    background-color: rgb(176, 226, 241);
}
#sequencia{
    color: rgb(163, 132, 223);
    font-family: Georgia, 'Times New Roman', Times, serif;
}